body {
  font-family: sans-serif;
  background: rgb(109, 145, 228);
}

h2 {
  margin: 5px 0;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
}